@model ReGenerationProjectAssignment_FundRaiser.Models.Funding_Package

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Funding_Package</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageReward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageReward)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PackageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
