@model IEnumerable<ReGenerationProjectAssignment_FundRaiser.Models.Funding_Package>

@{
    Layout = "~/Views/Shared/Main_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PackageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageReward)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PackageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageReward)
            </td>
            <td>
                        @*<a asp-action="Projects" asp-route-id="@item.PackageId">FUND</a> *@
                        <form asp-action="Edit">
                            <input type="submit" value="@item.PackageValue" class="btn btn-sm" />
                        </form>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
