@model IEnumerable<ReGenerationProjectAssignment_FundRaiser.Models.Project>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Main_layout.cshtml";

}
<link href="./css/homepage.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4" id="logo">Welcome to the CrazyStarter</h1>
</div> <br/>

<div class="container-fluid">
    <!--Carousel Effect-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ElementAt(0).ProjectId">
                 <img src="@Model.ElementAt(0).ImageURL" class="d-block w-100" style="width:100%; height:400px; object-fit: contain" alt="ALT TEXT">
                 <div class="carousel-caption d-none d-md-block">
                     <h5>@Model.ElementAt(0).Title</h5>
                     <p>@Model.ElementAt(0).Description
                         <br />
                         @Model.ElementAt(0).TotalAmount $ Raised
                     </p>
                 </div>
                </a>
            </div>
            <div class="carousel-item">
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ElementAt(1).ProjectId">
                    <img src="@Model.ElementAt(1).ImageURL" class="d-block w-100" style="width:100%; height:400px; object-fit: contain" alt="ALT TEXT">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Model.ElementAt(1).Title</h5>
                        <p>
                            @Model.ElementAt(1).Description<br />
                            @Model.ElementAt(1).TotalAmount $ Raised
                        </p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ElementAt(2).ProjectId">
                    <img src="@Model.ElementAt(2).ImageURL" class="d-block w-100" style="width:100%; height:400px; object-fit: contain" alt="ALT TEXT">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Model.ElementAt(2).Title</h5>
                        <p>
                            @Model.ElementAt(2).Description<br />
                            @Model.ElementAt(2).TotalAmount $ Raised
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br/>

<div class="card text-center">
    <div class="card-header">
        <h3>Categories</h3>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <a class="nav-link text-dark" href="Projects/TechProjects" id="zoom">
                    <img src="./images/tech.jpg" class="img-responsive" style="width:100%; height:200px; object-fit: cover;" alt="Tech">
                    <b>Tech</b>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="nav-link text-dark" id="zoom" asp-area="" asp-controller="Projects" asp-action="ArtProjects">
                    <img src="./images/art.jpg" class="img-responsive" style="width:100%; height:200px; object-fit: cover;" alt="Art">
                    <b>Art</b>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="nav-link text-dark" id="zoom" asp-area="" asp-controller="Projects" asp-action="HomeProjects">
                    <img src="./images/home.webp" class="img-responsive" style="width:100%; height:200px; object-fit: cover;" alt="Home">
                    <b>Home</b>
                </a>
            </div>
        </div>
    </div>
</div>

