@model ReGenerationProjectAssignment_FundRaiser.Models.Project
@{
    var category = ViewData["Categories"] as Category;
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h3>@Model.Title</h3> <br />
    <div class="content">
        <img src="@Model.ImageURL" alt="image" />
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoURL)
        </dd>
        <dt class="col-sm-2">
            Money Raised
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundingGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundingGoal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @category.CategoryName 
        </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Funding_Packages)
            </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="AddValue" asp-route-id="@Model.ProjectId">Select Package</a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
