@model IEnumerable<ReGenerationProjectAssignment_FundRaiser.Models.Project>

@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>My Projects</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FundingGoal)
                </th>
                <th>
                    Progress
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.ImageURL)*@
                            <img src="@item.ImageURL" style="width:100px; height:100px; object-fit:contain" alt="image"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VideoURL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FundingGoal) $
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
                            </div>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProjectId"><i class="bi bi-pencil-square"></i></a> |
           
                            <a asp-action="Delete" asp-route-id="@item.ProjectId"><i class="bi bi-trash3-fill"></i></a> |
            
                            <a asp-action="Details" asp-route-id="@item.ProjectId"><i class="bi bi-box-arrow-in-right"></i></a> 
                        </td>
                    </tr>
            }
        </tbody>
    </table>
    <p>
        <input type="button" class="btn btn-success" value="Create" onclick="location.href='@Url.Action("Create", "Projects")'" />
    </p>
</body>
</html>
